@model QuanLyBanHang.Models.LoaiSP
@{
    ViewBag.Title = "Sửa Loại sản phẩm";
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class=" container">
    <h4 class="text-warning mb-3">
        <i class="fa-solid fa-pen-to-square"></i> Sửa Thông Tin Loại sản phẩm
    </h4>

    <form asp-action="Edit" method="post" class="border p-4 rounded shadow-sm bg-light">
        <div class="form-group mb-3">
            <label>Mã Loại sản phẩm</label>
            <input asp-for="MaLoai" class="form-control" readonly />
        </div>
        <div class="form-group mb-3">
            <label>Tên Loại sản phẩm</label>
            <input asp-for="TenLoai" class="form-control" />
        </div>

        <!-- Nhóm sản phẩm -->
        <div class="form-group mb-3">
            <label class="form-label fw-semibold">
                <i class="fa-solid fa-layer-group me-1"></i> Nhóm sản phẩm
            </label>

            <div class="input-group gap-2">
                <select asp-for="MaNhom" asp-items="ViewBag.MaNhomList" class="form-select">
                    <option value="">-- Chọn nhóm sản phẩm --</option>
                </select>

                <a href="@Url.Action("Index", "NhomSP")" class="btn btn-warning rounded">
                    <i class="fa-solid fa-pen-to-square text-white"></i>
                </a>
            </div>
            <span asp-validation-for="MaNhom" class="text-danger"></span>
        </div>              

        <button type="submit" class="btn btn-warning text-white">
            <i class="fa-solid fa-save"></i> Cập nhật
        </button>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>
    </form>
</div>
