@model QuanLyBanHang.Models.NhomSP
@{
    ViewBag.Title = "Thêm Nhóm sản phẩm";
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class=" container">
    <h4 class="text-success mb-3">
        Thêm Nhóm sản phẩm
    </h4>

    <form asp-action="Create" method="post" class="border p-4 rounded shadow-sm bg-light">

        <div class="form-group mb-3">
            <label>Tên Nhóm</label>
            <input asp-for="TenNhom" class="form-control" />
        </div>

        <button type="submit" class="btn btn-success">
            <i class="fa-solid fa-check"></i> Thêm mới
        </button>
        <a asp-action="Create" asp-controller="LoaiSP" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>
    </form>
</div>
