@model QuanLyBanHang.Models.NhomSP
@{
    ViewBag.Title = "Sửa Nhóm sản phẩm";
}

<div class=" container">
    <h4 class="text-success mb-3">
        Sửa Thông Tin Nhóm sản phẩm
    </h4>

    <form asp-action="Edit" method="post" class="border p-4 rounded shadow-sm bg-light">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group mb-3">
            <label>Mã Nhóm sản phẩm</label>
            <input asp-for="MaNhom" class="form-control" readonly />
        </div>
        <div class="form-group mb-3">
            <label>Tên Nhóm sản phẩm</label>
            <input asp-for="TenNhom" class="form-control" />
        </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-warning text-white">
            <i class="fa-solid fa-save"></i> Cập nhật
        </button>
        <a asp-action="Details" asp-route-id="@Model.MaNhom" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>
    </div>
    </form>
</div>