    @model IEnumerable<QuanLyBanHang.Models.NhomSP>

@{
    ViewBag.Title = "Quản lý Nhóm sản phẩm";
}
<div class="container">
    <h4 class="mb-3 text-success">
        <i class="fa-solid fa-truck"></i> Danh sách Nhóm sản phẩm
    </h4>    

    <table class="table table-bordered table-hover align-middle text-center shadow-sm">
        <thead class="table-success">
            <tr>
                <th class="w-25">Mã Nhóm sản phẩm</th>
                <th class="w-25">Tên Nhóm sản phẩm</th>

                <th class="w-50">Hành động</th>
            </tr>
        </thead>
        <tbody class="text-start">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaNhom</td>
                    <td>@item.TenNhom</td>

                    <td class="flex justify-content-between text-center">
                        <a class="btn btn-warning btn-sm text-white" href="@Url.Action("Edit", "NhomSP", new { id = item.MaNhom })">
                            <i class="fa-solid fa-pen-to-square"></i> Sửa
                        </a>
                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "NhomSP", new { id = item.MaNhom })">
                            <i class="fa-solid fa-trash"></i> Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a asp-action="Index" asp-controller="LoaiSP" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>
    </p>
</div>

<style>
    i {
        margin-right: 8px;
    }

    .btn i {
        margin-right: 5px;
    }

    .table th {
        vertical-align: middle;
    }

    .table-hover tbody tr:hover {
        background-color: #f5faff;
        transition: 0.2s;
    }
</style>
