    @model IEnumerable<QuanLyBanHang.Models.NhomSP>

@{
    ViewBag.Title = "Quản lý Nhóm sản phẩm";
}
<div class="container">
    <h4 class="mb-3 text-success">
        Danh sách Nhóm sản phẩm
    </h4>    

    <table class="table  table-hover align-middle text-center shadow-sm">
        <thead class="table-success">
            <tr>
                <th class="w-25">Mã Nhóm sản phẩm</th>
                <th class="w-25">Tên Nhóm sản phẩm</th>
            </tr>
        </thead>
        <tbody class="text-start">
            @foreach (var item in Model)
            {
                <tr class="clickable-row" data-href="@Url.Action("Details", "NhomSP", new { id = item.MaNhom })">
                    <td>@item.MaNhom</td>
                    <td>@item.TenNhom</td>
                                        
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a asp-action="Index" asp-controller="LoaiSP" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>
    </p>
</div>

<style>
    i {
        margin-right: 8px;
    }

    .btn i {
        margin-right: 5px;
    }

    .table th {
        vertical-align: middle;
    }

    .table-hover tbody tr:hover {
        background-color: #f5faff;
        transition: 0.2s;
    }
</style>

 <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".clickable-row").forEach(row => {
                row.addEventListener("click", function () {
                    window.location = this.dataset.href;
                });
            });
        });
    </script>
