@model QuanLyBanHang.Models.DonMuaHangEditCTMH

@{
    ViewBag.Title = "Sửa Đơn mua hàng";
}

<div class="container border p-4 rounded shadow-sm bg-light">

    <h4 class="mb-3 text-success">
        Sửa Đơn bán hàng
    </h4>

    <form asp-action="Edit" method="post">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" asp-for="MaDMH" />

        <!-- THÔNG TIN ĐƠN -->
        <div class="mb-3">
            <label asp-for="NgayMH" class="form-label fw-bold"></label>
            <input asp-for="NgayMH" type="date" class="form-control" />
            <span asp-validation-for="NgayMH" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="MaNCC" class="form-label fw-bold"></label>
            <select asp-for="MaNCC" asp-items="ViewBag.MaNCC" class="form-select">
                <option value="">-- Chọn nhà cung cấp --</option>
            </select>
            <span asp-validation-for="MaNCC" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="MaNV" class="form-label fw-bold"></label>
            <select asp-for="MaNV" asp-items="ViewBag.MaNV" class="form-select">
                <option value="">-- Chọn nhân viên --</option>
            </select>
            <span asp-validation-for="MaNV" class="text-danger"></span>
        </div>

        <hr />

        <!-- BẢNG CHI TIẾT SẢN PHẨM -->
        <h4>Chi tiết sản phẩm</h4>

        <table class="table  table-striped">
            <thead>
                <tr class="table-warning">
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ChiTiet.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="hidden" asp-for="ChiTiet[i].MaSP" />
                            <span>@Model.ChiTiet[i].TenSP</span>

                        </td>
                        <td>
                            <input asp-for="ChiTiet[i].SLM" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="ChiTiet[i].DGM" class="form-control" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button type="submit" class="btn btn-warning text-white">
            <i class="fa-solid fa-save"></i> Cập nhật
        </button>

        <a asp-action="Details" asp-route-id="@Model.MaDMH" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>

    </form>
</div>
