@model QuanLyBanHang.Models.Xa
@{
    ViewBag.Title = "Thêm Xã";
}

<div class=" container">
    <h4 class="text-success mb-3">
        Thêm Xã
    </h4>

    <form asp-action="Create" method="post" class="border p-4 rounded shadow-sm bg-light">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group mb-3">
            <label>Tên Xã</label>
            <input asp-for="TenXa" class="form-control" />
        </div>
        <div class="form-group mb-3">
            <label>Tên Tỉnh</label>
            <select asp-for="MaTinh" asp-items="ViewBag.MaTinhList" class="form-control">
                <option value="">-- Chọn tỉnh --</option>
            </select>
            <span asp-validation-for="MaTinh" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">
            <i class="fa-solid fa-save"></i> Lưu
        </button>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>
    </form>

</div>