@{
    ViewBag.Title = "Chọn địa chỉ";
}

<h3>Chọn địa chỉ Việt Nam</h3>

<select id="province" class="form-select">
    <option value="">-- Chọn Tỉnh/Thành phố --</option>
</select>

<select id="district" class="form-select mt-2">
    <option value="">-- Chọn Quận/Huyện --</option>
</select>

<select id="ward" class="form-select mt-2">
    <option value="">-- Chọn Phường/Xã --</option>
</select>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let provinceData = [];

        // Gọi API lấy toàn bộ dữ liệu tỉnh/thành/huyện/xã
        $(document).ready(function () {
                   $.getJSON('@Url.Action("LoadProvinces", "Address")', function (data) {
            provinceData = data;
            data.forEach(p => {
                $('#province').append(`<option value="${p.code}">${p.name}</option>`);
            });
        });


            // Khi chọn tỉnh → load huyện
            $('#province').on('change', function () {
                const selected = $(this).val();
                $('#district').html('<option value="">-- Chọn Quận/Huyện --</option>');
                $('#ward').html('<option value="">-- Chọn Phường/Xã --</option>');

                const province = provinceData.find(p => p.code === selected);
                if (province) {
                    province.districts.forEach(d => {
                        $('#district').append(`<option value="${d.code}">${d.name}</option>`);
                    });
                }
            });

            // Khi chọn huyện → load xã
            $('#district').on('change', function () {
                const selectedDistrict = $(this).val();
                const province = provinceData.find(p => p.code === $('#province').val());
                const district = province.districts.find(d => d.code === selectedDistrict);

                $('#ward').html('<option value="">-- Chọn Phường/Xã --</option>');
                if (district) {
                    district.wards.forEach(w => {
                        $('#ward').append(`<option value="${w.code}">${w.name}</option>`);
                    });
                }
            });
        });
    </script>
}