@model QuanLyBanHang.Models.TaiKhoan
@{
    ViewData["Title"] = "Login";
}

<style>
    .sidebar{
        display:none;
    }
    
    .content{
        margin-left: 0;
        width: 100%;
    }

    .main {
        background-color: #fffef4 !important;
        box-shadow:none;
    }

    .login{
        width: 65%;
        min-height: 500px;
    }

    .pass-group {
        position: relative;
        width: 100%;
        max-width: 400px;
    }

        .pass-group i {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            color: #198754;
            pointer-events: none;
        }

        .pass-group input {
            padding-right: 38px !important;
            border-radius: 8px;
        }

</style>

<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row shadow rounded-4 overflow-hidden bg-white login">

        <!-- LEFT -->
        <div class="col-md-6 p-5">
            <h2 class="fw-bold text-success mb-4 text-center">Welcome to Rimberio!</h2>

            <form asp-action="Index" method="post" class="mb-3">

                <!-- User -->
                <div class="mb-3">
                    <label class="form-label">User Name</label>
                    <input asp-for="TenUser" class="form-control" />
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.TenUser)</span>
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label class="form-label">Password</label>

                    <div class="pass-group">
                        <input asp-for="MatKhau" class="form-control" type="password" id="passwordInput" />
                        <i class="fa-solid fa-eye" id="togglePassword"></i>
                    </div>

                    <span class="text-danger">@Html.ValidationMessageFor(m => m.MatKhau)</span>
                </div>


                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-outline-success fw-bold w-50">
                        Đăng nhập
                    </button>
                </div>
            </form>

            @if (ViewBag.Error != null)
            {
                <p class="text-danger">@ViewBag.Error</p>
            }
        </div>

        <!-- RIGHT -->
        <div class="col-md-6 d-none d-md-flex justify-content-center align-items-center p-3">
            <div id="spCarousel" class="carousel slide w-100" data-bs-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active text-center">
                        <img src="~/images/ky-nang-ban-hang-hieu-qua.jpg" class="d-block mx-auto img-fluid rounded" style="max-height: 300px;" />
                        <p class="text-white fw-bold mt-3 fs-5">Slide 1</p>
                    </div>

                    <div class="carousel-item text-center">
                        <img src="~/images/ky-nang-ban-hang-careerviet-1.png" class="d-block mx-auto img-fluid rounded" style="max-height: 300px;" />
                        <p class="text-white fw-bold mt-3 fs-5">Slide 2</p>
                    </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#spCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#spCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>

    </div>
</div>

<script>
    const togglePassword = document.getElementById("togglePassword");
    const passwordInput = document.getElementById("passwordInput");

    togglePassword.addEventListener("click", function () {
        const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
        passwordInput.setAttribute("type", type);

        // Đổi icon
        this.innerHTML = type === "password"
            ? '<i class="fa-solid fa-eye"></i>'
            : '<i class="fa-solid fa-eye-slash"></i>';
    });
</script>
