@model QuanLyBanHang.Models.GianHang
@{
    ViewBag.Title = "Thêm Gian hàng";
}

<div class="container">
    <h4 class="text-success mb-3">
        Thêm Gian hàng
    </h4>

    <form asp-action="Create" method="post" class="border p-4 rounded shadow-sm bg-light">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group mb-3">
            <label>Tên Gian hàng</label>
            <input asp-for="TenGH" class="form-control" />
        </div>
        <div class="form-group mb-3">
            <label>Mô tả</label>
            <input asp-for="MoTaGH" class="form-control" />
        </div>

       <div class="row">
            <div class="form-group mb-3 col-md-6">
                <label>Điện thoại</label>
                <input asp-for="DienThoaiGH" class="form-control" />
            </div>
            <div class="form-group mb-3 col-md-6">
                <label>Email</label>
                <input asp-for="EmailGH" class="form-control" />
            </div>
       </div>

        <!-- ĐỊA CHỈ -->
        <div class="form-group mb-3">
            <label>Địa chỉ</label>
            <input asp-for="DiaChiGH" type="text" id="streetInput" class="form-control mb-2" placeholder="Số nhà, tên đường..." />            
        </div>

        <div class="form-group mb-2">
            <label>Tỉnh</label>
            <select id="MaTinh" name="maTinh" asp-items="@ViewBag.Tinh" class="form-control">
                <option value="">-- Chọn Tỉnh --</option>
            </select>
        </div>

        <div class="form-group mb-2">
            <label>Xã</label>
            <select id="MaXa" asp-for="MaXa" asp-items="@ViewBag.Xa" class="form-control">
                <option value="">-- Chọn Xã --</option>
            </select>
            <span asp-validation-for="MaXa" class="text-danger"></span>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-success">
                <i class="fa-solid fa-check"></i> Thêm mới
            </button>
            <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
        </div>
    </form>

</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(function () {

                   $('#MaTinh').change(function () {
            var maTinh = $(this).val();
            $('#MaXa').empty().append('<option value="">-- Chọn Xã --</option>');

            if (maTinh) {
                $.ajax({
                    url: '/KhachHang/GetXaByTinh',
                    type: 'GET',
                    data: { maTinh: maTinh },
                    success: function (data) {
                        data.forEach(function (xa) {
                            $('#MaXa').append(
                                `<option value="${xa.maXa}">${xa.tenXa}</option>`
                            );
                        });
                    },
                    error: function () {
                        alert("Không load được danh sách xã!");
                    }
                });
            }
        });
        });

    </script>
}
